{% extends 'base.html' %}
{% load static %}

{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lar de Patinhas</title>
</head>

<body>
    <h1>{{ animal.nome|capfirst }}</h1>
    {% if animal.galeria.first %}
    <img src="{{ animal.galeria.first.imagem.url }}" class="card-img" alt="Imagem de {{ animal.nome }}" width="300">
    {% else %}
    <img src="{% static 'img/default.png' %}" alt="Imagem padrão" class="img-fluid rounded"
        style="height: 100%; object-fit: cover;">
    {% endif %}
    <ul>
        <li>Idade: {{ animal.idade }}</li>
        <li>Raça: {{ animal.raca|capfirst }}</li>
        <li>Espécie: {{ animal.especie|capfirst }}</li>
        <li>Histórico de Saúde: {{ animal.historico_saude }}</li>
        <li>Adotado: {{ animal.adotado|yesno:"Sim,Não" }}</li>
    </ul>
</body>

</html>

{% endblock %}